In [1]:
import pandas as pd
import boto3
import json
import configparser
from sql_queries import *
import psycopg2

### Load configuration

In [2]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY    = config.get('IAM','KEY')
SECRET = config.get('IAM','SECRET')


DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")


DWH_DB            = config.get("DWH","DWH_DB")
DWH_ENDPOINT      = config.get("DWH","DWH_ENDPOINT")
DWH_DB_USER       = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD   = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT          = config.get("DWH","DWH_PORT")
DWH_IAM_ROLE_NAME = config.get("DWH","DWH_IAM_ROLE_NAME")


ARN = config.get("IAM_ROLE","ARN")


BUCKET       = config.get("S3", "BUCKET")
LOG_DATA     = config.get("S3","LOG_DATA")
SONG_DATA    = config.get("S3","SONG_DATA")
LOG_JSONPATH = config.get("S3","LOG_JSONPATH")


(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB,
 KEY, SECRET,BUCKET,
DWH_IAM_ROLE_NAME,
DWH_ENDPOINT)

('awsuser',
 'AdminPass123',
 'dev',
 'AKIA433DURC4ATQP2POF',
 '5EsL4E36WqTpSTEqtTnCg8i99WrUwJjwXJUtSXOM',
 'udacity-dend',
 'myRedshiftRole',
 'redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com')

### Create the IAM role (if not exists)

In [3]:
iam = boto3.client('iam',
                    region_name="us-west-2",
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET)

In [4]:
try:
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description="Allow Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
                'Effect': 'Allow',
                'Principal': {'Service': 'redshift.amazonaws.com'}}],
            'Version': '2012-10-17'})
    )

except Exception as e:
    print(e)

An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name myRedshiftRole already exists.

In [5]:
# Attach Policy to IAM ROLE
iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                      PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

200

In [8]:
# Take ARN from IAM ROLE

iam_role = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)
roleArn = iam_role['Role']['Arn']

#print(roleArn)

### Create the Redshift (if not exists)

In [6]:
redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

In [9]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

An error occurred (ClusterAlreadyExists) when calling the CreateCluster operation: Cluster already exists

In [13]:
# Get properties of Redshift

def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]

#prettyRedshiftProps(myClusterProps)

In [37]:
# Take the DWH_ENDPOINT

DWH_ENDPOINT = myClusterProps['Endpoint']['Address']

# print("DWH_ENDPOINT :: ", DWH_ENDPOINT)

DWH_ENDPOINT ::  redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com

### Allow access to the database of Redshift

In [11]:
ec2 = boto3.resource('ec2', 
                      region_name="us-west-2",
                      aws_access_key_id=KEY,
                      aws_secret_access_key=SECRET)

In [14]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    
    defaultSg.authorize_ingress(
        GroupName= defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP', 
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-7ba65070')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

### Check log event data

In [ ]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
BUCKET = config.get("S3", "BUCKET")

udacity =  s3.Bucket(BUCKET)


# Print all files
# for object in udacity.objects.filter(Prefix='log_data'):
#     count += 1
#     print(object)


# count: 31
count = sum(1 for _ in udacity.objects.filter(Prefix='log_data'))
print(count)

### Check song data

In [ ]:
BUCKET = config.get("S3", "BUCKET")
udacity =  s3.Bucket(BUCKET)


# Print all files
# for object in udacity.objects.filter(Prefix='song_data'):
#     count += 1
#     print(object)


# count: 14897
# count = sum(1 for _ in udacity.objects.filter(Prefix='song_data'))
# print(count)

### Test connection to Redshift

In [15]:
%load_ext sql

In [16]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://awsuser:AdminPass123@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: awsuser@dev'

### Create and load data to [staging_events] table

In [18]:
%%sql

DROP TABLE IF EXISTS staging_events;

CREATE TABLE IF NOT EXISTS staging_events (
        event_id BIGINT IDENTITY(0,1) NOT NULL,
        artist text NULL,
        auth text NULL,
        firstName text NULL,
        gender text NULL,
        itemInSession text NULL,
        lastName text NULL,
        length text NULL,
        level text NULL,
        location text NULL,
        method text NULL,
        page text NULL,
        registration text NULL,
        sessionId INTEGER NOT NULL SORTKEY DISTKEY,
        song text NULL,
        status INTEGER NULL,
        ts BIGINT NOT NULL,
        userAgent text NULL,
        userId text NULL
    );

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [20]:
qry =("""
    COPY staging_events FROM {}
    credentials 'aws_iam_role={}'
    format as json {}
    STATUPDATE ON
    region 'us-west-2';
""").format(LOG_DATA, ARN, LOG_JSONPATH)

print(qry)

%sql $qry

    COPY staging_events FROM 's3://udacity-dend/log_data'
    credentials 'aws_iam_role=arn:aws:iam::884435355832:role/myRedshiftRole'
    format as json 's3://udacity-dend/log_json_path.json'
    STATUPDATE ON
    region 'us-west-2';

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [17]:
%%sql
SELECT count(*) 
FROM staging_events

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8056,)]

### Create and load data to the [staging_songs] table

In [22]:
%%sql

DROP TABLE IF EXISTS staging_songs;

CREATE TABLE IF NOT EXISTS staging_songs (
    artist_id text NOT NULL SORTKEY DISTKEY,
    artist_latitude text NULL,
    artist_location text NULL,
    artist_longitude text NULL,
    artist_name text NULL,
    duration DECIMAL(9) NULL,
    num_songs INTEGER NULL,
    song_id text NOT NULL,
    title text NULL,
    year INTEGER NULL
);

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [24]:
qry = ("""
    COPY staging_songs FROM {}
    credentials 'aws_iam_role={}'
    format as json 'auto'
    ACCEPTINVCHARS AS '^'
    STATUPDATE ON
    region 'us-west-2';
""").format(SONG_DATA, ARN)

print(qry)

%sql $qry

    COPY staging_songs FROM 's3://udacity-dend/song_data'
    credentials 'aws_iam_role=arn:aws:iam::884435355832:role/myRedshiftRole'
    format as json 'auto'
    ACCEPTINVCHARS AS '^'
    STATUPDATE ON
    region 'us-west-2';

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [18]:
%%sql
SELECT count(*)
FROM staging_songs

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]

### Create and load data to the [songplay] table

In [98]:
%%sql

DROP TABLE IF EXISTS songplays;

CREATE TABLE IF NOT EXISTS songplays (
    songplay_id INTEGER IDENTITY(0,1) NOT NULL SORTKEY,
    start_time timestamp NOT NULL,
    user_id text, 
    level text, 
    song_id text, 
    artist_id text, 
    session_id INTEGER, 
    location text, 
    user_agent text);

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [46]:
%%sql
SELECT * FROM songplays

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

In [50]:
%%sql
# TRUNCATE TABLE songplays;

INSERT INTO songplays (start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
SELECT  DISTINCT TIMESTAMP WITH TIME ZONE 'epoch' + se.ts/1000 * INTERVAL '1 second' 
                         AS start_time,
        se.userId        AS user_id,
        se.level         AS level,
        ss.song_id       AS song_id,
        ss.artist_id     AS artist_id,
        se.sessionId     AS session_id,
        se.location      AS location,
        se.userAgent     AS user_agent
FROM staging_events AS se
JOIN staging_songs AS ss ON (se.artist = ss.artist_name)
WHERE se.page = 'NextSong';

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
Done.
9957 rows affected.

[]

In [70]:
%%sql
SELECT * FROM songplays
LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(9385, datetime.datetime(2018, 11, 4, 15, 2, 51), '77', 'free', 'SOVEFXA12A58A7942A', 'AR5JDDD1187FB460C4', 141, 'Dallas-Fort Worth-Arlington, TX', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.102 Safari/537.36"'),
 (9449, datetime.datetime(2018, 11, 8, 10, 54, 6), '80', 'paid', 'SOUATDY12AB0185157', 'ARUJ5A41187FB3F5F1', 342, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (9513, datetime.datetime(2018, 11, 28, 9, 46, 23), '82', 'paid', 'SOIEXLS12A6D4F792F', 'AR4T2IF1187B9ADBB7', 140, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (9577, datetime.datetime(2018, 11, 9, 17, 14, 49), '80', 'paid', 'SOHIDCT12AB018C98E', 'ARS8GNX1187B9B5141', 416, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (9641, datetime.datetime(2018, 11, 8, 1, 15, 2), '20', 'paid', 'SOCOBMY12A58A7A161', 'ARVHQNN1187B9B9FA3', 19, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [ ]:
# Create connection using psycopg2
conn = psycopg2.connect("host={} dbname={} user={} password={} port={}"
                        .format(DWH_ENDPOINT, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT))
cur = conn.cursor()

In [114]:
# Test with connection using psycopg2
q = "SELECT * FROM songplays LIMIT 5;"
print(q)

try:
    cur.execute(q)
    results = cur.fetchall()
    conn.commit()
except Exception as e:
    conn.rollback()
    print("Error" + e)


for row in results:
    print (row)

SELECT * FROM songplays LIMIT 5;
(9385, datetime.datetime(2018, 11, 4, 15, 2, 51), '77', 'free', 'SOVEFXA12A58A7942A', 'AR5JDDD1187FB460C4', 141, 'Dallas-Fort Worth-Arlington, TX', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.102 Safari/537.36"')
(9449, datetime.datetime(2018, 11, 8, 10, 54, 6), '80', 'paid', 'SOUATDY12AB0185157', 'ARUJ5A41187FB3F5F1', 342, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
(9513, datetime.datetime(2018, 11, 28, 9, 46, 23), '82', 'paid', 'SOIEXLS12A6D4F792F', 'AR4T2IF1187B9ADBB7', 140, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"')
(9577, datetime.datetime(2018, 11, 9, 17, 14, 49), '80', 'paid', 'SOHIDCT12AB018C98E', 'ARS8GNX1187B9B5141', 416, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
(9641, datetime.datetime(2018, 11, 8, 1, 15, 2), '20', 'paid', 'SOCOBMY12A58A7A161', 'ARVHQNN1187B9B9FA3', 19, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')

### Create and load data to the [users] table

In [52]:
%%sql

DROP TABLE IF EXISTS users;

CREATE TABLE IF NOT EXISTS users (
    user_id text NOT NULL SORTKEY, 
    first_name text, 
    last_name text, 
    gender text, 
    level text);

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [53]:
%%sql

INSERT INTO users (user_id, first_name, last_name, gender, level)
SELECT DISTINCT se.userId AS user_id,
       se.firstName       AS first_name,
       se.lastName        AS last_name,
       se.gender          AS gender,
       se.level           AS level
FROM staging_events AS se
WHERE se.page = 'NextSong';

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
104 rows affected.

[]

In [54]:
%%sql
SELECT * FROM users
LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('15', 'Lily', 'Koch', 'F', 'paid'),
 ('16', 'Rylan', 'George', 'M', 'paid'),
 ('3', 'Isaac', 'Valdez', 'M', 'free'),
 ('35', 'Molly', 'Taylor', 'F', 'free'),
 ('37', 'Jordan', 'Hicks', 'F', 'free')]

### Create and load data to the [songs] table

In [55]:
%%sql

DROP TABLE IF EXISTS songs;

CREATE TABLE IF NOT EXISTS songs (
    song_id text NOT NULL SORTKEY,
    title text, 
    artist_id text NOT NULL, 
    year int, 
    duration numeric);

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [56]:
%%sql

INSERT INTO songs (song_id, title, artist_id, year, duration)
SELECT DISTINCT ss.song_id AS song_id,
       ss.title            AS title,
       ss.artist_id        AS artist_id,
       ss.year             AS year,
       ss.duration         AS duration
FROM staging_songs AS ss;

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
14896 rows affected.

[]

In [57]:
%%sql
SELECT * FROM songs
LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('SOAAEHR12A6D4FB060', 'Slaves & Bulldozers', 'AR5N8VN1187FB37A4E', 1991, Decimal('415')),
 ('SOAAETA12A6D4FC626', 'Shine', 'ARQXK0B1187B9ACC97', 2007, Decimal('448')),
 ('SOAASSD12AB0181AA6', 'Song From Moulin Rouge', 'ARKXLIJ1187B9A4C54', 0, Decimal('195')),
 ('SOAAXEV12A6D4FA21C', 'Micro Chip', 'ARTRZBZ1187FB5698A', 2006, Decimal('230')),
 ('SOAAYRB12AB0184B94', 'Should I Tell You', 'ARWEFTK1257509DE19', 2009, Decimal('164'))]

### Create and load data to the [artists] table

In [58]:
%%sql

DROP TABLE IF EXISTS artists;

CREATE TABLE IF NOT EXISTS artists (
    artist_id text NOT NULL SORTKEY,
    name text, 
    location text, 
    latitude numeric, 
    longitude numeric);

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [59]:
%%sql

INSERT INTO artists ( artist_id, name, location, latitude, longitude)
SELECT DISTINCT ss.artist_id AS artist_id,
       ss.artist_name        AS name,
       ss.artist_location    AS location,
       ss.artist_latitude    AS latitude,
       ss.artist_longitude   AS longitude
FROM staging_songs AS ss;

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
10025 rows affected.

[]

In [60]:
%%sql
SELECT * FROM artists
LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None),
 ('AR03Z7E1187FB44816', "The Colourfield Featuring Sinead O'Connor", 'Manchester, England', Decimal('53'), Decimal('-2')),
 ('AR040M31187B98CA41', 'The Bug Featuring Spaceape', '', None, None),
 ('AR04BF811A348F050D', 'Teenagers In Tokyo', '', None, None)]

### Create and load data to the [time] table

In [62]:
%%sql
DROP TABLE IF EXISTS time;
CREATE TABLE IF NOT EXISTS time (
    start_time timestamp, 
    hour INTEGER, 
    day INTEGER, 
    week INTEGER, 
    month INTEGER, 
    year INTEGER, 
    weekday text);

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [64]:
%%sql

INSERT INTO time (start_time, hour, day, week, month, year, weekday)
SELECT DISTINCT TIMESTAMP WITH TIME ZONE 'epoch' + se.ts/1000 * INTERVAL '1 second'
                                        AS start_time,
       EXTRACT(hour FROM start_time)    AS hour,
       EXTRACT(day FROM start_time)     AS day,
       EXTRACT(week FROM start_time)    AS week,
       EXTRACT(month FROM start_time)   AS month,
       EXTRACT(year FROM start_time)    AS year,
       EXTRACT(week FROM start_time)    AS weekday
FROM staging_events AS se
WHERE se.page = 'NextSong';

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
6813 rows affected.

[]

In [66]:
%%sql
SELECT * FROM time
LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.c2qqeljdywgt.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(datetime.datetime(2018, 11, 8, 1, 28, 18), 1, 8, 45, 11, 2018, '45'),
 (datetime.datetime(2018, 11, 3, 14, 17, 50), 14, 3, 44, 11, 2018, '44'),
 (datetime.datetime(2018, 11, 9, 11, 47, 36), 11, 9, 45, 11, 2018, '45'),
 (datetime.datetime(2018, 11, 15, 18, 12, 29), 18, 15, 46, 11, 2018, '46'),
 (datetime.datetime(2018, 11, 14, 15, 26, 37), 15, 14, 46, 11, 2018, '46')]

### Clean up your resources

<b><font color='red'>DO NOT RUN THIS UNLESS YOU ARE SURE <br/> 
    We will be using these resources in the next exercises</span></b>

In [ ]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
# redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

In [ ]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
# iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
# iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!