### Create the keyspace:

- sparkifydb

### Create tables
 - song_session 
 - artist_session  
 - song_user

In [5]:
%run -i 'create_tables.py'

Drop tables successfully.
Create tables successfully.

### Proccess data

Load data from the dataset and insert into database `sparkifydb`

In [6]:
%run -i 'etl.py'

Start write data to event_datafile_new.csv
End write data to event_datafile_new.csv with total record 6831

Starting to process data...
The 6831 data inserted successfully into song_session table.

The 6831 data inserted successfully into artist_session table.

The 6831 data inserted successfully into song_user table.

All data was processed.