# Test the data was proccessed

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

### Connect to Apache Cassandra

In [2]:
# Connect to Apache Cassandra 
from cassandra.cluster import Cluster
try: 
    # Connect to local Apache Cassandra instance.
    cluster = Cluster(['127.0.0.1'])
    # Set session to execute queries.
    session = cluster.connect()

except Exception as e:
    print(e)

# Set KEYSPACE
try:
    session.set_keyspace('sparkifydb')
except Exception as e:
    print(e)

### Select first 5 rows on table song_session

In [3]:
query = "SELECT * FROM song_session LIMIT 5"
try:
    songs = session.execute(query)
except Exception as e:
    print(e)

for row in songs:
    print (row.session_id, ",", row.item_in_session, ",", row.artist, ",", row.length, ",", row.song)

23 , 0 , Regina Spektor , 191.08526611328125 , The Calculation (Album Version)
23 , 1 , Octopus Project , 250.95791625976562 , All Of The Champs That Ever Lived
23 , 2 , Tegan And Sara , 180.06158447265625 , So Jealous
23 , 3 , Dragonette , 153.39056396484375 , Okay Dolores
23 , 4 , Lil Wayne / Eminem , 229.58975219726562 , Drop The World

### Select first 5 rows on table artist_session

In [4]:
query = "SELECT * FROM artist_session LIMIT 5"
try:
    songs = session.execute(query)
except Exception as e:
    print(e)

for row in songs:
    print (row.user_id, ",", row.session_id, ",", row.artist, ",", row.song, ",", row.item_in_session, ",", row.first_name, ",", row.last_name)

58 , 768 , System of a Down , Sad Statue , 0 , Emily , Benson
58 , 768 , Ghostland Observatory , Stranger Lover , 1 , Emily , Benson
58 , 768 , Evergreen Terrace , Zero , 2 , Emily , Benson
85 , 776 , Deftones , Head Up (LP Version) , 2 , Kinsley , Young
85 , 776 , The Notorious B.I.G. , Playa Hater (Amended Version) , 3 , Kinsley , Young

### Select first 5 rows on table song_user

In [5]:
query = "SELECT * FROM song_user LIMIT 5"
try:
    songs = session.execute(query)
except Exception as e:
    print(e)


for row in songs:
    print (row.song, ",", row.user_id, ",", row.first_name, ",", row.last_name)

Wonder What's Next , 49 , Chloe , Cuevas
In The Dragon's Den , 49 , Chloe , Cuevas
Too Tough (1994 Digital Remaster) , 44 , Aleena , Kirby
Rio De Janeiro Blue (Album Version) , 49 , Chloe , Cuevas
My Place , 15 , Lily , Koch

### Query-1: Give me the artist, song title and song's length in the music app history that was heard during sessionId = 338, and itemInSession = 4Â¶

In [6]:
query = "SELECT artist, song, length FROM song_session WHERE session_id = 338 AND item_in_session = 4"

try:
    songs = session.execute(query)
except Exception as e:
    print(e)

for row in songs:
    print (row.artist, row.song, row.length)

Faithless Music Matters (Mark Knight Dub) 495.30731201171875

### Query-2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [7]:
query = "SELECT artist, song, first_name, last_name FROM artist_session WHERE user_id = 10 AND session_id = 182"
try:
    artists = session.execute(query)
except Exception as e:
    print(e)

for row in artists:
    print (row.artist, row.song, row.first_name, row.last_name)

Down To The Bone Keep On Keepin' On Sylvie Cruz
Three Drives Greece 2000 Sylvie Cruz
Sebastien Tellier Kilometer Sylvie Cruz
Lonnie Gordon Catch You Baby (Steve Pitron & Max Sanna Radio Edit) Sylvie Cruz

### Query-3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [8]:
query = "SELECT first_name, last_name FROM song_user WHERE song = 'All Hands Against His Own'"
try:
    users = session.execute(query)
except Exception as e:
    print(e)

for row in users:
    print (row.first_name, row.last_name)

Jacqueline Lynch
Tegan Levine
Sara Johnson